@use "../partials/mixins.scss";
@use "../partials/colors";
@use "../partials/devices";

.titles {
  color:colors.$green;
  text-align: center;
  @include devices.phone{
    h3{
      font-size:80px;
      margin-bottom: 50px;
    }
    &--about h3{
      font-size:80px;
      padding-top: 200px;
      margin-bottom: 50px;
    }
  }
  @include devices.tablet{
    h3{
      font-size:80px;
      margin-bottom: 50px;
    }
    &--about h3{
      font-size:80px;
      padding-top: 200px;
      margin-bottom: 50px;
    }
  }
  @include devices.laptop-large{
    h3{
      font-size:100px;
      padding-top: 40px;
      margin-bottom: 50px;
    }
  }
  @include devices.laptop{
    h3{
      font-size:90px;
      padding-top: 40px;
      margin-bottom: 50px;
    }
    &--about h3{
      font-size:90px;
      text-align: left;
      margin-left:80px;
      padding-top: 40px;
      margin-bottom: 50px;
    }
  }
  @include devices.tablet-landscape{
    h3{
      font-size:70px;
      padding-top: 40px;
      margin-bottom: 50px;
    }
    &--about h3{
      font-size:70px;
      text-align: left;
      margin-left:80px;
      padding-top: 40px;
      margin-bottom: 50px;
    }
  }

}
.containers {
  width: 60%;
  margin: auto;
  @include mixins.flex-centre;

  @include devices.phone{
    width:95%;
    @include mixins.flex-column;
  }
  @include devices.tablet{
    width:95%;
    @include mixins.flex-column;
  }
  @include devices.laptop{
     @include mixins.flex-column;
     margin-top: 40px;
    }
    @include devices.tablet-landscape{
      @include mixins.flex-column;
      margin-top: 70px;
      width:80%;
     }
  &__left {
    @include mixins.flex-column;
    width: 59%;
    padding: 40px 40px 0 40px;
    font-size: 20px;
    @include devices.phone{
      width:100%;
      margin: auto;
    }
    @include devices.tablet{
      width:100%;
    }
    @include devices.tablet-landscape{
      width:100%;
    }
    @include devices.laptop{
      width:100%;
    }
    p {
      color: colors.$brown;
    }
    span {
      color: colors.$green;
      font-weight: bold;
      font-size: 22px;
    }
   
  }
  &__right {
    width: 42%;
    display: flex;
    flex-direction: column;
    @include devices.phone{
      width:100%;
      margin: auto;
      padding: 40px 40px 0 40px;
    }
    @include devices.tablet{
      width:100%;
      margin: auto;
      padding: 40px 40px 0 40px;
    }
    @include devices.tablet-landscape{
      width:100%;
      padding-left: 40px;
      margin-top:30px;
    }
    h4 {
      font-size: 30px;
      color: colors.$green;
    }
    &--details{
      i{
        color:colors.$green;
        padding:10px;
        font-size: 25px;
      }
      span{
        font-weight: 400;
        font-size: 20px;
        @include mixins.links;
        color:colors.$brown;
      }
      a{
        @include mixins.links;
        font-size: 20px;
        color:colors.$brown
      }
      h4{
        font-size: 30px;
        color: colors.$green;
        margin-bottom: 10px;
      }
    }
  }
}
