@use "../partials/mixins.scss";
@use "../partials/colors";
@use "../partials/devices";

.title {
  color:colors.$green;
  text-align: center;
  font-size:100px;
  padding-top: 40px;
  margin-bottom: 50px;
  @include devices.phone{
    margin-top:200px;
    font-size: 90px;
  }
  @include devices.tablet{
    margin-top:200px;
    font-size: 90px;
  }
  @include devices.tablet-landscape{
    font-size: 100px;
  }

}
.container {
  width: 60%;
  margin: auto;
  @include mixins.flex-centre;
  @include devices.phone{
    @include mixins.flex-column;
    width:100%;
  }
  @include devices.tablet{
    @include mixins.flex-column;
    width:100%;
  }
  @include devices.tablet-landscape{
    @include mixins.flex-column;
    width:100%;
  }
  @include devices.laptop{
    @include mixins.flex-column;
    width:100%;
  }
  &__left {
    @include mixins.flex-column;
    width: 60%;
    padding: 40px 40px 0 40px;
    font-size: 20px;
    @include devices.phone{
      width:100%;
    }
    @include devices.tablet{
      width:100%;
    }
    @include devices.tablet-landscape{
      width:100%;
    }
    @include devices.laptop{
      width:100%;
    }
    p {
      color: colors.$brown;
    }
    span {
      color: colors.$green;
      font-weight: bold;
      font-size: 22px;
    }
   
  }
  &__right {
    width: 40%;
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 30px;
      color: colors.$green;
    }
    &--details{
      i{
        color:colors.$green;
        padding:10px;
        font-size: 25px;
      }
      span{
        font-weight: 400;
        font-size: 20px;
        @include mixins.links;
        color:colors.$brown;
      }
      a{
        @include mixins.links;
        font-size: 20px;
        color:colors.$brown
      }
      h4{
        font-size: 30px;
        color: colors.$green;
        margin-bottom: 10px;
      }
    }
  }
}
