@use "../partials/mixins.scss";
@use "../partials/colors";
@use "about.scss";
@use "../partials/devices";

.contact {
  // background-color: aqua;
  &__container {
    @include mixins.flex-around;
    align-items: center;
    font-size: 20px;
    span{
      color: colors.$green;
      font-size: 25px;
      font-weight: 400;
      @include mixins.links;
    }
      i{
        color:colors.$green;
        padding:10px;
        font-size: 25px;
        font-weight: 400;
      }
      a{
        @include mixins.links;
        font-size: 25px;
        font-weight: 400;
        &:hover{
          @include mixins.links-hover;
        }
      }
      margin: 50px;
  }
  &__title {
    @extend .titles;
  }
 
}
