@use "../partials/mixins.scss";
@use "../partials/colors";
@use "../partials/devices.scss";


.header {
    background-image: url("images/laptop.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
    // width:100vw;
    position: relative;

    &__image {
      width: 300px;
      height: 300px;
      position: absolute;
      right: 15%;
      top: 85%;
      border-radius: 50%;
      @include devices.phone{
        left: 50%;
        top: 85%;
        transform:translateX(-50%);
      }
      @include devices.tablet{
        left: 50%;
        top: 85%;
        transform:translateX(-50%);
      }
    }
  
    .nav {
      background-color: colors.$olive;
      color: colors.$green;
      @include mixins.flex-around;
      @include devices.phone{
        @include mixins.flex-between;
        padding:0px 10px;
      }
      @include devices.tablet{
        @include mixins.flex-between;
        padding:0px 10px;
      }
      @include devices.tablet-landscape{
        height:50px;
        padding:0 40px;
        @include mixins.flex-around;
      }
      @include devices.laptop{
        height:50px;
        padding:0 40px;
        @include mixins.flex-around;
      }
      &__title {
        // padding: 20px;
        @include mixins.links;
        &:hover {
          @include mixins.links-hover;
          padding:-15px;
        }
        a{
          font-family: 'The Nautigal', cursive;
          font-size: 30px;
          @include devices.tablet-landscape{
            font-size: 20px;
          }
          @include devices.laptop{
            font-size: 20px;
          }
           height:50px;
        padding:0 40px;
        @include mixins.flex-around;
        }
        
      }
      &__toggler {
        display: none;
        text-align: left;
        @include devices.phone{
          display: block;
        }
        @include devices.tablet{
          display: block;
        }
        @include devices.tablet-landscape{
          width:100vw;
          height:50px;
          padding:0 40px;
          // margin:auto;
        }@include devices.laptop{
          width:100vw;
          height:50px;
          padding:0 40px;
          // margin:auto;
        }
        i{
          color:colors.$brown;
          background-color: transparent;
          border: none;

        }
      }
      &__list {
        list-style: none;
        @include mixins.flex-around;
        margin: 10px;
        font-size: 24px;
        @include devices.phone{
          display:none;
        }
        @include devices.tablet{
          display:none;
        }
        @include devices.tablet-landscape{
          font-size: 20px;
        }
        @include devices.laptop{
          font-size: 20px;
        }
      }
      &__item {
        padding: 15px 25px;
        transition: font-size 0.5s;
        &:hover {
          color: colors.$brown;
          cursor: pointer;
          font-size: 28px;
        }
        @include devices.tablet-landscape{
          padding: 0 10px;
          &:hover {
            color: colors.$brown;
            cursor: pointer;
          }
        }
        @include devices.laptop{
          padding: 0 10px;
          &:hover {
            color: colors.$brown;
            cursor: pointer;
          }
        }
      }
      &__link {
        @include mixins.links;
        &:hover a {
          @include mixins.links-hover;
        }
      }
    }
  
  }