.titles, .contact__title {
  color: #39603D;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .titles h3, .contact__title h3 {
    font-size: 80px;
    margin-bottom: 50px;
  }
  .titles--about h3 {
    font-size: 80px;
    padding-top: 200px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .titles h3, .contact__title h3 {
    font-size: 80px;
    margin-bottom: 50px;
  }
  .titles--about h3 {
    font-size: 80px;
    padding-top: 250px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1300px) {
  .titles h3, .contact__title h3 {
    font-size: 100px;
    padding-top: 40px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .titles h3, .contact__title h3 {
    font-size: 90px;
    padding-top: 40px;
    margin-bottom: 50px;
  }
  .titles--about h3 {
    font-size: 90px;
    text-align: center;
    margin-left: 80px;
    padding-top: 40px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 993px) {
  .titles h3, .contact__title h3 {
    font-size: 70px;
    padding-top: 40px;
    margin-bottom: 50px;
  }
  .titles--about h3 {
    font-size: 70px;
    text-align: center;
    margin-right: 80px;
    padding-top: 40px;
    margin-bottom: 50px;
  }
}

.containers, .project__containers {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .containers, .project__containers {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .containers, .project__containers {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1200px) {
  .containers, .project__containers {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 993px) {
  .containers, .project__containers {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 80%;
  }
}
.containers__left {
  display: flex;
  flex-direction: column;
  width: 59%;
  padding: 40px 40px 0 40px;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .containers__left {
    width: 100%;
    margin: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .containers__left {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .containers__left {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .containers__left {
    width: 100%;
  }
}
.containers__left p {
  color: #3C403D;
}
.containers__left span {
  color: #39603D;
  font-weight: bold;
  font-size: 22px;
}
.containers__right {
  width: 42%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .containers__right {
    width: 100%;
    margin: auto;
    padding: 40px 40px 0 40px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .containers__right {
    width: 100%;
    margin: auto;
    padding: 40px 40px 0 40px;
  }
}
@media only screen and (min-width: 993px) {
  .containers__right {
    width: 100%;
    padding-left: 40px;
    margin-top: 30px;
  }
}
.containers__right h4 {
  font-size: 30px;
  color: #39603D;
}
.containers__right--details i {
  color: #39603D;
  padding: 10px;
  font-size: 25px;
}
.containers__right--details span {
  font-weight: 400;
  font-size: 20px;
  color: #39603D;
  text-decoration: none;
  color: #3C403D;
}
.containers__right--details a {
  color: #39603D;
  text-decoration: none;
  font-size: 20px;
  color: #3C403D;
}
.containers__right--details h4 {
  font-size: 30px;
  color: #39603D;
  margin-bottom: 10px;
}

.header {
  background-image: url("images/laptop.jpg");
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}
.header__image {
  width: 250px;
  position: absolute;
  right: 15%;
  top: 85%;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .header__image {
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header__image {
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
  }
}
.header .image__layer {
  background-color: #bcc3c3;
  height: 400px;
  width: 290px;
  position: absolute;
  right: 10%;
  top: 85%;
  border-radius: 50%;
}
.header .image__photo {
  width: 230px;
  position: absolute;
  right: 30px;
  top: 32px;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .header .image {
    right: 50%;
    top: 65%;
    transform: translateX(50%);
  }
}
.header .nav {
  background-color: #bcc3c3;
  color: #39603D;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .nav__icon {
  padding: 10px;
}
.header .nav__title {
  color: #39603D;
  text-decoration: none;
}
.header .nav__title:hover {
  color: #3C403D;
  padding: -15px;
}
.header .nav__title--logo {
  font-family: "The Nautigal", cursive;
  color: #39603D;
  text-decoration: none;
}
.header .nav__title--logo:hover {
  color: #3C403D;
  padding: -15px;
}
.header .nav__title--logo a {
  height: 50px;
  padding: 0 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #39603D;
  text-decoration: none;
}
@media only screen and (min-width: 993px) {
  .header .nav__title--logo a {
    font-size: 30px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .header .nav__title--logo a {
    font-size: 40px !important;
  }
}
.header .nav__title--logo a:hover a {
  color: #3C403D;
}
.header .nav__item {
  transition: font-size 0.2s;
}
.header .nav__item:hover {
  color: #3C403D;
  cursor: pointer;
  font-size: 23px;
}
@media only screen and (min-width: 993px) {
  .header .nav__item {
    padding: 0 10px;
  }
  .header .nav__item:hover {
    color: #3C403D;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1200px) {
  .header .nav__item {
    padding: 0 10px;
  }
  .header .nav__item:hover {
    color: #3C403D;
    cursor: pointer;
  }
}
.header .nav__link {
  padding: 15px 15px;
  color: #39603D;
  text-decoration: none;
}
.header .nav__link:hover a {
  color: #3C403D;
}

.nav-link {
  padding: 15px 15px;
  color: #39603D;
  text-decoration: none;
}
.nav-link:hover a {
  color: #3C403D;
}

.navbar-toggler-icon {
  background-color: #e4e2e2;
  border: 1px solid gray;
  font-size: 30px;
  padding-top: 5px;
  margin: 10px 0;
}

.navbar {
  z-index: 9;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav li {
  padding: 0 30px;
}

nav li a {
  font-size: 24px;
  font-weight: 600;
  color: #39603D !important;
}

nav li a:hover {
  font-weight: 600;
  color: #3C403D !important;
}

.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  font-size: 20px;
  margin: 50px;
}
.contact__container span {
  color: #39603D;
  font-size: 25px;
  font-weight: 400;
  color: #39603D;
  text-decoration: none;
}
.contact__container i {
  color: #39603D;
  padding: 10px;
  font-size: 25px;
  font-weight: 400;
}
.contact__container a {
  color: #39603D;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}
.contact__container a:hover {
  color: #3C403D;
}
.project {
  background-color: #e4e2e2;
  margin-top: 50px;
  padding-bottom: 40px;
}
.project__containers {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .project__containers {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .project__containers {
    width: 95%;
  }
}

.rows {
  background-color: #FFFFFF;
  padding: 30px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .rows {
    display: flex;
    flex-direction: column;
  }
}
.rows__image {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .rows__image {
    width: 100%;
  }
}
.rows__image--calc {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.rows__image--books {
  width: 100%;
}
.rows__image--angora, .rows__image--morse, .rows__image--wordle {
  width: 100%;
}
.rows__text {
  padding: 20px;
  padding-top: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .rows__text {
    width: 100%;
  }
  .rows__text--test {
    order: -1;
    text-align: centre;
  }
  .rows__text--link {
    font-weight: bolder;
  }
}
.rows__text h3 {
  font-size: 24px;
  color: #39603D;
  font-weight: bold;
}
.rows__text p {
  font-size: 20px;
  color: #39603D;
  line-height: 1.5em;
  margin-top: 0;
}
.rows__text--link {
  font-weight: bold;
}
.rows__text a {
  font-size: 20px;
  color: #39603D;
}
.rows__heading {
  text-align: center;
}
.rows__tools {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.rows__tools p {
  color: #39603D;
  font-size: 16px;
  font-weight: bold;
}
.rows__tools--text {
  text-align: center;
  color: #39603D;
  font-weight: bold;
  font-size: 20px;
}
.rows__tools--text i {
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 5px solid #39603D;
  border-radius: 50%;
}
.rows__tools--text img {
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 5px solid #39603D;
  border-radius: 50%;
}

.slider {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__item {
  width: 50%;
  margin: auto;
  text-align: center;
}
.slider__item img {
  width: 200px;
  height: 200px;
}
.slider__item--second {
  display: none;
}
.slider__buttons {
  text-align: center;
}
.slider__buttons button {
  background-color: #39603D;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.footer {
  background-color: rgb(116, 114, 114);
  height: 100px;
}
.footer__text {
  color: #bcc3c3;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}
.footer__text span {
  color: #3C403D;
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.tools__text {
  text-align: center;
  color: #39603D;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  padding: 30px;
}
.tools__text i {
  font-size: 36px;
  height: 75px;
  width: 75px;
  padding: 15px;
  border: 5px solid #39603D;
  border-radius: 50%;
}
.tools__text img {
  height: 75px;
  width: 75px;
  border: 5px solid #39603D;
  border-radius: 50%;
  padding: 15px;
}
.tools__text p {
  padding-left: 15px;
}

* {
  font-family: "Times New Roman";
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.titles h3 {
  margin-block-end: 0;
  margin-block-start: 0;
  opacity: 0.8;
}
