.title, .contact__title {
  color: #39603D;
  text-align: center;
  font-size: 100px;
  padding-top: 40px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 576px) {
  .title, .contact__title {
    margin-top: 200px;
    font-size: 90px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .title, .contact__title {
    margin-top: 200px;
    font-size: 90px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .title, .contact__title {
    font-size: 100px;
  }
}

.container, .project__container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .container, .project__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container, .project__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .container, .project__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .container, .project__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
  }
}
.container__left {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 60%;
  padding: 40px 40px 0 40px;
  font-size: 20px;
}
@media only screen and (max-width: 576px) {
  .container__left {
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container__left {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .container__left {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .container__left {
    width: 100%;
  }
}
.container__left p {
  color: #3C403D;
}
.container__left span {
  color: #39603D;
  font-weight: bold;
  font-size: 22px;
}
.container__right {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.container__right h4 {
  font-size: 30px;
  color: #39603D;
}
.container__right--details i {
  color: #39603D;
  padding: 10px;
  font-size: 25px;
}
.container__right--details span {
  font-weight: 400;
  font-size: 20px;
  color: #39603D;
  text-decoration: none;
  color: #3C403D;
}
.container__right--details a {
  color: #39603D;
  text-decoration: none;
  font-size: 20px;
  color: #3C403D;
}
.container__right--details h4 {
  font-size: 30px;
  color: #39603D;
  margin-bottom: 10px;
}

.header {
  background-image: url("images/laptop.jpg");
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}
.header__image {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 15%;
  top: 85%;
  border-radius: 50%;
}
@media only screen and (max-width: 576px) {
  .header__image {
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header__image {
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
  }
}
.header .nav {
  background-color: #bcc3c3;
  color: #39603D;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header .nav {
    height: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header .nav {
    height: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.header .nav__title {
  color: #39603D;
  text-decoration: none;
}
.header .nav__title:hover {
  color: #3C403D;
  padding: -15px;
}
.header .nav__title a {
  font-family: "The Nautigal", cursive;
  font-size: 30px;
  height: 50px;
  padding: 0 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header .nav__title a {
    font-size: 20px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header .nav__title a {
    font-size: 20px;
  }
}
.header .nav__toggler {
  display: none;
  text-align: left;
}
@media only screen and (max-width: 576px) {
  .header .nav__toggler {
    display: block;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header .nav__toggler {
    display: block;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header .nav__toggler {
    width: 100vw;
    height: 50px;
    padding: 0 40px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header .nav__toggler {
    width: 100vw;
    height: 50px;
    padding: 0 40px;
  }
}
.header .nav__toggler i {
  color: #3C403D;
  background-color: transparent;
  border: none;
}
.header .nav__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  font-size: 24px;
}
@media only screen and (max-width: 576px) {
  .header .nav__list {
    display: none;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header .nav__list {
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header .nav__list {
    font-size: 20px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header .nav__list {
    font-size: 20px;
  }
}
.header .nav__item {
  padding: 15px 25px;
  transition: font-size 0.5s;
}
.header .nav__item:hover {
  color: #3C403D;
  cursor: pointer;
  font-size: 28px;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .header .nav__item {
    padding: 0 10px;
  }
  .header .nav__item:hover {
    color: #3C403D;
    cursor: pointer;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header .nav__item {
    padding: 0 10px;
  }
  .header .nav__item:hover {
    color: #3C403D;
    cursor: pointer;
  }
}
.header .nav__link {
  color: #39603D;
  text-decoration: none;
}
.header .nav__link:hover a {
  color: #3C403D;
}

.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  font-size: 20px;
  margin: 50px;
}
.contact__container span {
  color: #39603D;
  font-size: 25px;
  font-weight: 400;
  color: #39603D;
  text-decoration: none;
}
.contact__container i {
  color: #39603D;
  padding: 10px;
  font-size: 25px;
  font-weight: 400;
}
.contact__container a {
  color: #39603D;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}
.contact__container a:hover {
  color: #3C403D;
}
.project {
  background-color: #e4e2e2;
  margin-top: 50px;
  padding-bottom: 40px;
}
.project__container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
@media only screen and (max-width: 576px) {
  .project__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .project__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .project__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
}

.row {
  background-color: #FFFFFF;
  padding: 30px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
}
.row__image {
  width: 50%;
}
.row__image--calc {
  width: 50%;
  margin: auto;
}
.row__image--angora, .row__image--morse, .row__image--books {
  width: 100%;
}
.row__text {
  padding: 20px;
  width: 50%;
}
.row__text h3 {
  font-size: 24px;
  color: #39603D;
}
.row__text p {
  font-size: 20px;
  color: #39603D;
  line-height: 1.5em;
}
.row__text--link {
  font-weight: bold;
}
.row__text a {
  font-size: 20px;
  color: #39603D;
}
.row__heading {
  text-align: center;
}
.row__tools {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.row__tools p {
  color: #39603D;
  font-size: 16px;
  font-weight: bold;
}
.row__tools--text {
  text-align: center;
  color: #39603D;
  font-weight: bold;
  font-size: 20px;
}
.row__tools--text i {
  font-size: 36px;
  height: 35px;
  width: 35px;
  padding: 15px;
  text-align: center;
  border: 5px solid #39603D;
  border-radius: 50%;
}
.row__tools--text img {
  height: 35px;
  width: 35px;
  border: 5px solid #39603D;
  border-radius: 50%;
  padding: 15px;
}

.slider {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__item {
  width: 50%;
  margin: auto;
  text-align: center;
}
.slider__item img {
  width: 200px;
  height: 200px;
}
.slider__item--second {
  display: none;
}
.slider__buttons {
  text-align: center;
}
.slider__buttons button {
  background-color: #39603D;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.footer {
  background-color: rgb(116, 114, 114);
  height: 100px;
}
.footer__text {
  color: #bcc3c3;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}
.footer__text span {
  color: #3C403D;
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tools__text {
  text-align: center;
  color: #39603D;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  padding: 30px;
}
.tools__text i {
  font-size: 36px;
  height: 35px;
  width: 35px;
  padding: 15px;
  text-align: center;
  border: 5px solid #39603D;
  border-radius: 50%;
}
.tools__text img {
  height: 35px;
  width: 35px;
  border: 5px solid #39603D;
  border-radius: 50%;
  padding: 15px;
}
.tools__text p {
  padding-left: 15px;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.title h3 {
  margin-block-end: 0;
  margin-block-start: 0;
  opacity: 0.8;
}
